.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideleft {
  animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideright {
  animation: slideInRight 0.9s ease-in-out;
}



@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-slide-in {
  opacity: 1;
  transform: translateY(0);
}

.capturing-images img {
  transition: transform 0.3s ease-in-out;
}

.capturing-images img:hover {
  transform: scale(1.1);
}


/* .family-image {
  transition: transform 0.2s ease-in-out;
}

.family-image:hover {
  transform: translateY(5px); 
} */

.logo-image {
  transition: transform 0.2s ease-in-out;
}

.logo-image:hover {
  transform: scale(1.1); 
}


.social-image {
  transition: transform 0.2s ease-in-out;
}

.social-image:hover {
  transform: scale(1.2); 
}

.family-image {
  transition: transform 0.2s ease-in-out;
}

.family-image:hover {
  transform: scale(1.01); 
}

.family-imagebutton {
  transition: transform 0.2s ease-in-out;
}

.family-imagebutton:hover {
  transform: scale(1.05); 
  font-weight: 500;
}

.nav-link {
  transition: transform 0.3s ease-in-out;
  color: black !important;
}

.nav-link:hover {
  transform: scale(1.2);
}

.dropdown-item {
  transition: transform 0.1s ease-in-out;
}

.dropdown-item {
  background-color: transparent ;
  color: black; 
}

/* .dropdown-item:active, .dropdown-item:focus {
  background-color: black !important;
  color: white !important;
  border: 1px solid black;
} */

/* .dropdown-item:hover {
  transform: scale(1.01);
  font-weight: 500;
  background-color: #f8f9fa !important;
  color:black !important;
 

} */

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
  transform: scale(1.0);

  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.1)!important;
  color: black !important;
  border-left: 5px solid black;
  border-radius: 3px;

  /* border: 1px solid black; */
}


.light-transparent-background {
  background-color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
}

@keyframes closeCarousel {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.close-carousel {
  animation: closeCarousel 2s forwards;
}


/* .main{
  position: relative;
}
.over{
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 0.5s ease;
}
.main:hover .over{
  height:90%;
} 
.over h5{
  margin-top: 200px;
} */

.char {
  display: inline-block;
}

.animate-text {
  opacity: 1;
}

.video-responsive {
  width: 100%;
  height: auto;
}


.main{
  position: relative;
}
.over{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height:0%;
  transition: 0.1s ease;
}
.main:hover .over{
  height:98%;
  width: 97%;
  bottom: 1%;
} 
.over h5{
  margin-top: 200px;
}

.hover-image-container {
  position: relative;
}

.hover-image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.hover-image-container img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hover-image-container:hover img.default-img {
  opacity: 0;
}

.hover-image-container:hover img.hover-img {
  opacity: 1;
}
