@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
}

p,div {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideleft {
  animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideright {
  animation: slideInRight 0.9s ease-in-out;
}



@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-slide-in {
  opacity: 1;
  transform: translateY(0);
}

.capturing-images img {
  transition: transform 0.3s ease-in-out;
}

.capturing-images img:hover {
  transform: scale(1.1);
}


/* .family-image {
  transition: transform 0.2s ease-in-out;
}

.family-image:hover {
  transform: translateY(5px); 
} */

.logo-image {
  transition: transform 0.2s ease-in-out;
}

.logo-image:hover {
  transform: scale(1.1); 
}


.social-image {
  transition: transform 0.2s ease-in-out;
}

.social-image:hover {
  transform: scale(1.2); 
}



.review {
  transition: transform 0.0s ease;
}

.review:hover {
  transform: scale(1.02); 
}


.family-image {
  transition: transform 0.2s ease-in-out;
}

.family-image:hover {
  transform: scale(1.01); 
}

.family-imagebutton {
  transition: transform 0.2s ease-in-out;
}

.family-imagebutton:hover {
  transform: scale(1.05); 
  font-weight: 500;
}

.nav-link {
  transition: transform 0.3s ease-in-out;
  color: black !important;
}

.nav-link:hover {
  transform: scale(1.2);
}

.dropdown-item {
  transition: transform 0.1s ease-in-out;
}

.dropdown-item {
  background-color: transparent ;
  color: black; 
}

/* .dropdown-item:active, .dropdown-item:focus {
  background-color: black !important;
  color: white !important;
  border: 1px solid black;
} */

/* .dropdown-item:hover {
  transform: scale(1.01);
  font-weight: 500;
  background-color: #f8f9fa !important;
  color:black !important;
 

} */

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
  transform: scale(1.0);

  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.1)!important;
  color: black !important;
  border-left: 5px solid black;
  border-radius: 3px;

  /* border: 1px solid black; */
}


.light-transparent-background {
  background-color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
}

@keyframes closeCarousel {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.close-carousel {
  animation: closeCarousel 2s forwards;
}


/* .main{
  position: relative;
}
.over{
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 0.5s ease;
}
.main:hover .over{
  height:90%;
} 
.over h5{
  margin-top: 200px;
} */

.char {
  display: inline-block;
}

.animate-text {
  opacity: 1;
}

.video-responsive {
  width: 100%;
  height: auto;
}


.main{
  position: relative;
}
.over{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height:0%;
  transition: 0.1s ease;
}
.main:hover .over{
  height:98%;
  width: 97%;
  bottom: 1%;
} 
.over h5{
  margin-top: 200px;
}

.hover-image-container {
  position: relative;
}

.hover-image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.hover-image-container img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hover-image-container:hover img.default-img {
  opacity: 0;
}

.hover-image-container:hover img.hover-img {
  opacity: 1;
}

.background-container {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Full viewport height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.content-container {
  position: relative;
  z-index: 1;
  margin-top: 100vh;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 5px;
}


.main2 {
  position: relative;
}

.main2 {
  position: relative;
}

.over2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: height 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6.5px;
}

.main2:hover .over2 {
  height: 100%;
}

.hover-image-container2 {
  position: relative;
}

.hover-image-container2 img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.hover-image-container2 img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hover-image-container2:hover img.default-img {
  opacity: 0;
}

.hover-image-container2:hover img.hover-img {
  opacity: 1;
}

.family-imagebutton2 {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 1px solid white;
  transition: transform 0.1s ease-in-out;
}

.family-imagebutton2:hover {
  transform: scale(1.05);
  font-weight: 500;
}

.reachButton{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.reachButton:hover{
  color: black !important;
  background-color: white !important;
  font-weight: bold;
  font-size: 16px;
}

.camera-background {
  background-image: url("./Images/Camerabackground1.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  width: 100%;
  padding: 5%;
  height: fit-content;
}
.camera-text{
  color: rgba(0, 0, 0, 0.9);

}

.rainbow-gradient {
  background: linear-gradient(to left,
    #ffcccc,  /* light red */
    #ffecb3,  /* light orange */
    #ffffcc,  /* light yellow */
    #ccffcc,  /* light green */
    #cce6ff,  /* light blue */
    #e6ccff,  /* light indigo */
    #ffccf2   /* light violet */
  );
  padding: 20px;
  border-radius: 5px;
  color: black;
}


/* @keyframes lightGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.bullet-list {
  list-style-type: disc;
}

.bullet-list li {
  margin-bottom: 0.5rem; /* Add some space between list items */
}


.teambulletlist {
  /* list-style-type: none; */
  padding: 0px;
  /* padding-left: 0; */
}

.teambulletlist li {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

/* .bullet-list li::before {
  content: '✔️';
  margin-right: 10px;
  font-size: 1.5rem; 
} */

.text-bold {
  font-weight: bold;
}

.text-highlight {
  background-color: #ffff99; /* Light yellow highlight */
  border-radius: 5px;
  padding: 0 5px;
}

.card1 {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
  font-family: 'Arial Black', sans-serif;
  color: #444;
}

.subtitle {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 20px;
}


/* LoaderTest.css */
.loader-test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.0);
  }
}

.slick-slide {
  transition: transform 0.5s ease-in-out;
}

.slick-current .slider-image {
  animation: scaleUp 0.5s forwards;
}


