@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
}

p,div {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideleft {
  animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideright {
  animation: slideInRight 0.9s ease-in-out;
}



@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-slide-in {
  opacity: 1;
  transform: translateY(0);
}

.capturing-images img {
  transition: transform 0.3s ease-in-out;
}

.capturing-images img:hover {
  transform: scale(1.1);
}




.logo-image {
  transition: transform 0.2s ease-in-out;
}

.logo-image:hover {
  transform: scale(1.1); 
}


.social-image {
  transition: transform 0.65s ease-in-out;
    /* transform: scale(1.2);  */

}

.social-image:hover {
  /* transform: scale(1.2);  */
  transition: all 0.65s;
  transform: rotateY(360deg);

}



.review {
  transition: transform 0.0s ease;
}

.review:hover {
  transform: scale(1.02); 
}


.family-image {
  transition: transform 0.2s ease-in-out;
}

.family-image:hover {
  transform: scale(1.01); 
}

.family-imagebutton {
  transition: transform 0.2s ease-in-out;
}

.family-imagebutton:hover {
  transform: scale(1.05); 
  font-weight: 500;
}

.nav-link {
  transition: transform 0.3s ease-in-out;
  color: black !important;
}

.nav-link:hover {
  transform: scale(1.2);
}

.dropdown-item {
  transition: transform 0.1s ease-in-out;
}

.dropdown-item {
  background-color: transparent ;
  color: black; 
}



.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
  transform: scale(1.0);

  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.1)!important;
  color: black !important;
  border-left: 0px solid black;
  border-radius: 10px;

}


.light-transparent-background {
  background-color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
}

@keyframes closeCarousel {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.close-carousel {
  animation: closeCarousel 2s forwards;
}




.char {
  display: inline-block;
}

.animate-text {
  opacity: 1;
}

.video-responsive {
  width: 100%;
  height: auto;
}


.main{
  position: relative;
}
.over{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height:0%;
  transition: 0.1s ease;
}
.main:hover .over{
  height:98%;
  width: 97%;
  bottom: 1%;
} 
.over h5{
  margin-top: 200px;
}

/* .hover-image-container {
  position: relative;
}

.hover-image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.hover-image-container img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hover-image-container:hover img.default-img {
  opacity: 0;
}

.hover-image-container:hover img.hover-img {
  opacity: 1;
} */

.background-container {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Full viewport height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.content-container {
  position: relative;
  z-index: 1;
  margin-top: 100vh;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 5px;
}


.main2 {
  position: relative;
}

.main2 {
  position: relative;
}

.over2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: height 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6.5px;
}

.main2:hover .over2 {
  height: 100%;
}

.hover-image-container2 {
  position: relative;
}

.hover-image-container2 img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.hover-image-container2 img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hover-image-container2:hover img.default-img {
  opacity: 0;
}

.hover-image-container2:hover img.hover-img {
  opacity: 1;
}

.family-imagebutton2 {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 1px solid white;
  transition: transform 0.1s ease-in-out;
}

.family-imagebutton2:hover {
  transform: scale(1.05);
  font-weight: 500;
}

.reachButton{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.reachButton:hover{
  color: black !important;
  background-color: white !important;
  font-weight: bold;
  font-size: 16px;
}

.camera-background {
  background-image: url("./Images/Camerabackground1.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  width: 100%;
  padding: 5%;
  height: fit-content;
}
.camera-text{
  color: rgba(0, 0, 0, 0.9);

}

.rainbow-gradient {
  background: linear-gradient(to left,
    #ffcccc,  /* light red */
    #ffecb3,  /* light orange */
    #ffffcc,  /* light yellow */
    #ccffcc,  /* light green */
    #cce6ff,  /* light blue */
    #e6ccff,  /* light indigo */
    #ffccf2   /* light violet */
  );
  padding: 20px;
  border-radius: 5px;
  color: black;
}




.bullet-list {
  list-style-type: disc;
}

.bullet-list li {
  margin-bottom: 0.5rem; /* Add some space between list items */
}


.teambulletlist {
  /* list-style-type: none; */
  padding: 0px;
  /* padding-left: 0; */
}

.teambulletlist li {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

/* .bullet-list li::before {
  content: '✔️';
  margin-right: 10px;
  font-size: 1.5rem; 
} */

.text-bold {
  font-weight: bold;
}

.text-highlight {
  background-color: #ffff99; /* Light yellow highlight */
  border-radius: 5px;
  padding: 0 5px;
}

.card1 {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
  font-family: 'Arial Black', sans-serif;
  color: #444;
}

.subtitle {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 20px;
}


.loader-test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.0);
  }
}

.slick-slide {
  transition: transform 0.5s ease-in-out;
}

.slick-current .slider-image {
  animation: scaleUp 0.5s forwards;
}

.explrbtn{
 
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:white;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    transition:all 1s;


    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 0.3s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:3px solid white;
      border-left:3px solid white;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:3px solid white;
      border-right:3px solid white;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
     
      &:before,&:after{
        
        width:100%;
        height:100%;
      }
    }
  }
  
.Xlogo:hover{
  background-color: black;
    color: white;
    border: 0px solid;
    border-radius: 90%;
} 
.Whatslogo:hover{
  background-color: #25D366;
    color: white;
    border: 0px solid;
    border-radius: 90%;
}


.fblogo:hover{
  /* background-color: #0081FB; */
    color: #0081FB;
    border: 0px solid;
    border-radius: 90%;
  }

.youtblogo:hover{
  background-color: white;
    color: #FF0000;
    border: 0px solid;
    border-radius: 90%;
}
/* .instalogo:hover{
  color: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
} */
 .instalogo{
  border:0px solid;
  border-radius: 90%;
  
 }
.instalogo:hover {
  /* background: #f09433; */
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433",endColorstr="#bc1888",GradientType=1 );
  color: white;
  border: 0px solid;
  border-radius: 100%;
}

.logodiv{
/* background-color: #f8f9fa; */
border:0px solid;
border-radius: 100%;
/* padding: 3px; */
}

.logofbdiv{
  /* background-color: #f8f9fa; */
  border:0px solid;
  border-radius: 100%;
    /* padding: 3px; */
  }

  /* navbar-nav .dropdown-menu {
    position: static;
    background-color: #f8f9fa;
    border: 2px solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
} */

/* .navbar-nav .dropdown-menu {
  position: static;
  background-color: #f8f9fa;
  border: 2px solid rgb(0, 0, 0, 0.1);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
} */



.hover-image-container {
  position: relative;
  perspective: 400px; /* Adjust perspective as needed */
  overflow: hidden; /* Ensure the images don't overflow */

}

.hover-image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease, transform 0.5s ease;
  backface-visibility: hidden; /* Hide the back face during rotation */
}

.hover-image-container img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate3d(1, 0, 0, 90deg); /* Initial hidden state */
}

.hover-image-container:hover img.default-img {
  position: relative; 
  opacity: 0;
}

.hover-image-container:hover img.hover-img {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg);
}

/* Direction-aware hover effect */
.hover-image-container.in-top:hover img.hover-img {
  transform-origin: center bottom;
  animation: in-top 0.5s forwards;
}

.hover-image-container.in-right:hover img.hover-img {
  transform-origin: left center;
  animation: in-right 0.5s forwards;
}

.hover-image-container.in-bottom:hover img.hover-img {
  transform-origin: center top;
  animation: in-bottom 0.5s forwards;
}

.hover-image-container.in-left:hover img.hover-img {
  transform-origin: right center;
  animation: in-left 0.5s forwards;
}

/* .hover-image-container.out-top:hover img.hover-img {
  transform-origin: center bottom;
  animation: out-top 0.5s forwards;
}

.hover-image-container.out-right:hover img.hover-img {
  transform-origin: left center;
  animation: out-right 0.5s forwards;
}

.hover-image-container.out-bottom:hover img.hover-img {
  transform-origin: center top;
  animation: out-bottom 0.5s forwards;
}

.hover-image-container.out-left:hover img.hover-img {
  transform-origin: right center;
  animation: out-left 0.5s forwards;
} */

@keyframes in-top {
  from { transform: rotate3d(1, 0, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-right {
  from { transform: rotate3d(0, 1, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-bottom {
  from { transform: rotate3d(-1, 0, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-left {
  from { transform: rotate3d(0, -1, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

/* @keyframes out-top {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(1, 0, 0, 90deg); }
}

@keyframes out-right {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(0, 1, 0, 90deg); }
}

@keyframes out-bottom {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(-1, 0, 0, 90deg); }
}

@keyframes out-left {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(0, -1, 0, 90deg); }
} */


.hover-image-container img {
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.hover-image-container img.hover-img {
  animation: out-zoom 0.5s forwards;
}
@keyframes out-zoom {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(1, 0, 0, 90deg); }
}




.hover-image-container01 {
  position: relative;
  perspective: 400px; /* Adjust perspective as needed */
  overflow: hidden; /* Ensure the images don't overflow */

}

.hover-image-container01 img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease, transform 0.5s ease;
  backface-visibility: hidden; /* Hide the back face during rotation */
}

.hover-image-container01 img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate3d(1, 0, 0, 90deg); /* Initial hidden state */
}

.hover-image-container01:hover img.default-img {
  /* position: relative;  */
  opacity: 0;
}

.hover-image-container01:hover img.hover-img {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg);
}

/* Direction-aware hover effect */
.hover-image-container01.in-top:hover img.hover-img {
  transform-origin: center bottom;
  animation: in-top 0.5s forwards;
}

.hover-image-container01.in-right:hover img.hover-img {
  transform-origin: left center;
  animation: in-right 0.5s forwards;
}

.hover-image-container01.in-bottom:hover img.hover-img {
  transform-origin: center top;
  animation: in-bottom 0.5s forwards;
}

.hover-image-container01.in-left:hover img.hover-img {
  transform-origin: right center;
  animation: in-left 0.5s forwards;
}

/* .hover-image-container.out-top:hover img.hover-img {
  transform-origin: center bottom;
  animation: out-top 0.5s forwards;
}

.hover-image-container.out-right:hover img.hover-img {
  transform-origin: left center;
  animation: out-right 0.5s forwards;
}

.hover-image-container.out-bottom:hover img.hover-img {
  transform-origin: center top;
  animation: out-bottom 0.5s forwards;
}

.hover-image-container.out-left:hover img.hover-img {
  transform-origin: right center;
  animation: out-left 0.5s forwards;
} */

@keyframes in-top {
  from { transform: rotate3d(1, 0, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-right {
  from { transform: rotate3d(0, 1, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-bottom {
  from { transform: rotate3d(-1, 0, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-left {
  from { transform: rotate3d(0, -1, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

/* @keyframes out-top {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(1, 0, 0, 90deg); }
}

@keyframes out-right {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(0, 1, 0, 90deg); }
}

@keyframes out-bottom {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(-1, 0, 0, 90deg); }
}

@keyframes out-left {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(0, -1, 0, 90deg); }
} */


.hover-image-container01 img {
  transition: opacity 0.5s ease, transform 0.5s ease;
}


/* .hover-image-container img.hover-img {
  animation: out-zoom 0.5s forwards;
}
@keyframes out-zoom {
  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(1, 0, 0, 90deg); }
} */




/* Glow effect for the family images */
.hover-image-containerfb {
  position: relative;
  overflow: hidden; /* Ensure the glow effect does not overflow */
}

.hover-image-containerfb img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 2s ease, transform 2s ease;
}

.hover-image-containerfb img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* Glow effect styles */
.hover-image-containerfb .glow-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Prevent interaction with the glow */
}

.hover-image-containerfb .glow {
  position: absolute;
  
  width: 100%;
  height: 200%;
  background: linear-gradient(
    to right,
    rgba(99, 102, 241, 0.2) 10%,    /* indigo-500 with 0.2 opacity at 10% */
    rgba(135, 211, 244, 0.2) 30%,   /* sky-500 with 0.2 opacity at 30% */
    rgba(20, 184, 166, 0.2) 90%     /* emerald-500 with 0.2 opacity at 90% */
  );
  
    filter: blur(10px);
  transform: rotate(45deg) translate(-200%, 0);
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 0.9); /* Increased duration */
}

/* Hover effect */
.hover-image-containerfb:hover img.default-img {
  opacity: 0;
}

.hover-image-containerfb:hover img.hover-img {
  opacity: 1;
}

.hover-image-containerfb:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
}


.hover-image-containerb {
  position: relative;
  overflow: hidden; /* Ensures that overflow is hidden when the image is revealed */
}

.hover-image-containerb img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: clip-path 0.7s ease, opacity 0.7s ease; /* Animate both clip-path and opacity */
  clip-path: circle(70% at 50% 50%); /* Start with no visible circle */
}

.hover-image-containerb img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  clip-path: circle(0% at 100% 100%); /* Start with no visible circle */

}

.hover-image-containerb:hover img.default-img {
  opacity: 0; /* Hide default image */
}

.hover-image-containerb:hover img.hover-img {
  clip-path: circle(100% at 100% 50%); /* Reveal hover image in a circular mask */
  opacity: 1; /* Show hover image */
}
